{% extends 'base.html' %}

{% block content %}

<div class="content">

    <div class="navigation-bar">
        <nav class="navbar">
  
            <ul>
              <li><a href="#">Dashboard</a></li>
              <li><a href="#">Daftar Atlet</a></li>
              <li><a href="#">Lihat Event</a></li>
              <li><a href="#">Hasil Pertandingan</a></li>
              <li class="li-logout">
                  <a href="#">
                    <div class="logout-img">
                        <img src="image/icon-logout.svg" alt="">
                    </div>
  
                      <div class="logout-p">
                          <p>Logout</p>
                      </div>
  
                  
                </a>
            </li>
            </ul>
          </nav>
    </div>
  
    <div class="workpage" style="margin: 5%;">
        
      <div class="container">  <!--content-->
        <h1 class="subtitle text-center">List Partai Kompetisi Event</h1>
        
        {% if message != "" %}
        <div class="message text-center">{{ message }}</div>
        {% endif %}
        
        <div class="table-responsive">
          <table class="table table-bordered table-centered">
            <thead>
              <tr>
                <th>Nama Event</th>
                <th>Tahun</th>
                <th>Stadium</th>
                <th>Jenis Partai</th>
                <th>Kategori Superseries</th>
                <th>Tanggal Mulai</th>
                <th>Tanggal Selesai</th>
                <th>Kapasitas</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              {% for item in data %}
              <tr>
                <td>{{ item.nama_event }}</td>
                <td>{{ item.tahun }}</td>
                <td>{{ item.nama_stadium }}</td>
                <td>{{ item.jenis_partai }}</td>
                <td>{{ item.kategori_superseries }}</td>
                <td>{{ item.tgl_mulai|date:'d M Y' }}</td>
                <td>{{ item.tgl_selesai|date:'d M Y' }}</td>
                <td>{{ item.kapasitas }}</td>
                <td>
                  <a href="http://" class="button"><button class="button">Mulai</button></a>
                  <form action="{% url 'pink:data_hasil_pertandingan' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="nama_event" value="{{ item.nama_event }}">
                    <input type="hidden" name="jenis_partai" value="{{ item.jenis_partai }}">
                    <input type="hidden" name="tahun_event" value="{{ item.tahun }}">
                    <button class="button" type="submit">Hasil Pertandingan</button>
                  </form>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
  
        
    </div>
  
  
  </div>

{% endblock content %}