{% extends 'base.html' %}

{% block content %}

<!-- c_k_ujian_kualifikasi.html -->

<h1>Pertanyaan Kualifikasi</h1>

<form method="POST">
  {% csrf_token %}
  
  {% for question in questions %}
    <h3>{{ question.question }}</h3>
    <ul>
      {% for choice in question.choices %}
        <li>
          <label>
            <input type="radio" name="answer" value="{{ choice }}">
            {{ choice }}
          </label>
        </li>
      {% endfor %}
    </ul>
  {% endfor %}
  
  <button type="submit">Submit</button>
</form>


{% endblock content %}